@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 15px;
      height: 15px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #f7f4ed;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #c0a0b9;
      border-radius: 100vh;
      border: 3px solid #f6f7ed;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #e95b7b;
    }
  }

*,*::before,*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}

html,body{
    height: 100vh;
}


/* 

primary colors :

pink : #e95b7b
blue : #038ef5
blueDarke : #466efc
purplish : #32325d

*/