@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::before,*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html,body{
    height: 100vh;
}

/* 

primary colors :

pink : #e95b7b
blue : #038ef5
blueDarke : #466efc
purplish : #32325d
*/